.first{
      text-transform: uppercase;
      text-decoration-line:underline;
}
.seccond{
      text-transform: capitalize;
      text-decoration-line: line-through;
}
.third{
      text-transform: lowercase;
      text-decoration-line: overline;
}