.h1{
      font-family:'https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap';
}
.h2{
      font-family:'https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Sixtyfour+Convergence&display=swap';
}
.h3{
      font-family:'https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Sixtyfour+Convergence&display=swap';
}
h4{
      font-family: 'https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Qwitcher+Grypen:wght@400;700&family=Sixtyfour+Convergence&display=swap';
}